include MANIFEST.in
include CODE_OF_CONDUCT.md
include LICENSE
include README.md

exclude tests.py

exclude .travis.yml
exclude .readthedocs.yml
exclude pyproject.toml
exclude tox.ini
recursive-exclude docs *
recursive-exclude data *

